@import url('https://fonts.googleapis.com/css?family=Product+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
body
	{
		font-family:"Roboto";
		white-space:nowrap;
		overflow:hidden;
	}
a
	{
		color:inherit;
	}
table
	{
		margin:auto;
		border-collapse:collapse;
	}
tr
	{
		vertical-align:middle;
	}
.TableRowRight
	{
		border-right:1px solid #808080;
	}
.TableRowTop
	{
		border-top:1px solid #808080;
	}
.TableRowName
	{
		text-align:left;
		border-left:1px solid #808080;
	}
.TableRowCrit
	{
		text-align:right;
		border-left:1px solid #808080;
	}
.TableRowMath
	{
		text-align:right;
	}
.Tab
	{
		position:fixed;
		left:0;
		transition:0.5s;
	}
.TabText
	{
		position:relative;
		top:50%;
		font-size:20px;
	}
.TabClassImage
	{
		position:relative;
		top:1px;
	}
.TabClassFont
	{
		display:none;
		font-size:1px;
	}
.TabClassCheckbox
	{
		position:relative;
		top:1px;
	}
.TabCritImage
	{
		position:relative;
		top:3px;
		width:18px;
	}
.TabCritClassHu
	{
		visibility:collapse;
	}
.TabCritClassFiMain
	{
		visibility:collapse;
	}
.TabCritClassFi
	{
		visibility:collapse;
	}
.TabCritClassGuMain
	{
		visibility:collapse;
	}
.TabCritClassGu
	{
		visibility:collapse;
	}
.TabCritClassBr
	{
		visibility:collapse;
	}
.TabCritClassBo
	{
		visibility:collapse;
	}
.TabCritClassHr
	{
		visibility:collapse;
	}
.TabAboutFont
	{
		font-size:10px;
	}
#TabTop
	{
		z-index:4;
		top:0;
		width:100%;
		height:96px;
		background-color:#FFFFFF;
		text-align:center;
	}
#TabBottom
	{
		z-index:3;
		top:calc(100% - 96px);
		width:100%;
		height:96px;
		background-color:#FFFFFF;
		text-align:center;
		line-height:96px;
	}
#TabLeft
	{
		z-index:1;
		top:96px;
		width:64px;
		height:calc(100% - 192px);
		background-color:#FFFFFF;
		text-align:center;
	}
#TabMiddle
	{
		z-index:0;
		left:64px;
		top:96px;
		width:calc(100% - 128px);
		height:calc(100% - 192px);
		background-color:#C0C0C0;
	}
#TabRight
	{
		z-index:1;
		left:calc(100% - 64px);
		top:96px;
		width:64px;
		height:calc(100% - 192px);
		background-color:#FFFFFF;
		text-align:center;
	}
#TabClass
	{
		z-index:2;
		top:96px;
		width:96px;
		height:calc(100% - 192px);
		margin-left:-224px;
		overflow:auto;
		background-color:#FFFFFF;
	}
#TabCrit
	{
		visibility:hidden;
		z-index:0;
		width:100%;
		height:100%;
		overflow:auto;
		text-align:center;
	}
#TabAbout
	{
		z-index:2;
		top:96px;
		width:256px;
		height:calc(100% - 96px);
		margin-left:100%;
		background-color:#FFFFFF;
		overflow:auto;
	}
@media(min-width:600px)
	{
		.TabClassImage
			{
				top:calc(1px + (2 - 1) * ((100vw - 600px) / (1200 - 600)));
			}
		.TabClassFont
			{
				display:inline;
				font-size:calc(1px + (20 - 1) * ((100vw - 600px) / (1200 - 600)));
			}
		.TabAboutFont
			{
				font-size:calc(10px + (20 - 10) * ((100vw - 600px) / (1200 - 600)));
			}
		#TabLeft
			{
				width:calc(64px + (128 - 64) * ((100% - 600px) / (1200 - 600)));
			}
		#TabMiddle
			{
				left:calc(64px + (128 - 64) * ((100% - 600px) / (1200 - 600)));
				width:calc(100% - 2 * (64px + (128 - 64) * ((100% - 600px) / (1200 - 600))));
			}
		#TabRight
			{
				left:calc(100% - (64px + (128 - 64) * ((100vw - 600px) / (1200 - 600))));
				width:calc(64px + (128 - 64) * ((100vw - 600px) / (1200 - 600)));
			}
		#TabClass
			{
				width:calc(96px + (224 - 96) * ((100vw - 600px) / (1200 - 600)));
			}
		#TabAbout
			{
				width:calc(256px + (512 - 256) * ((100vw - 600px) / (1200 - 600)));
			}
	}
@media(min-width:1200px)
	{
		.TabClassImage
			{
				top:2px;
			}
		.TabClassFont
			{
				font-size:20px;
			}
		.TabAboutFont
			{
				font-size:20px;
			}
		#TabLeft
			{
				width:128px;
			}
		#TabMiddle
			{
				left:128px;
				width:calc(100% - 256px);
			}
		#TabRight
			{
				left:calc(100% - 128px);
				width:128px;
			}
		#TabClass
			{
				width:224;
			}
		#TabAbout
			{
				width:512px;
			}
	}