@import url('https://fonts.googleapis.com/css?family=Product+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body
	{
		font-family: "Roboto";
		white-space: nowrap;
		overflow: hidden;
	}
a
	{
		color:inherit;
	}
tr
	{
		vertical-align:middle;
	}
.Tab
	{
		position: fixed;
		left: 0;
		transition: 0.5s;
	}
.TabText
	{
		position:relative;
		top:50%;
	}
.TabClassFont
	{
		display: none;
		font-size: 1px;
	}
.TabAboutFont
	{
		font-size: 10px;
	}
#TabTop
	{
		z-index: 4;
		top: 0;
		width: 100%;
		height: 96px;
		background-color: #FFFFFF;
		text-align: center;
	}
#TabBottom
	{
		z-index: 3;
		top: calc(100% - 96px);
		width: 100%;
		height: 96px;
		background-color: #FFFFFF;
		text-align: center;
		line-height: 96px;
	}
#TabLeft
	{
		z-index: 1;
		top: 96px;
		width: 64px;
		height: calc(100% - 192px);
		background-color:#FFFFFF;
		text-align: center;
	}
#TabMiddle
	{
		z-index: 0;
		top: 96px;
		width: 100%;
		height: calc(100% - 192px);
		background-color: #C0C0C0;
	}
#TabRight
	{
		z-index: 1;
		top: 96px;
		left: calc(100% - 64px);
		width: 64px;
		height: calc(100% - 192px);
		background-color: #FFFFFF;
		text-align: center;
	}
#TabClass
	{
		z-index: 2;
		top: 96px;
		width: 96px;
		height: calc(100% - 192px);
		margin-left: -224px;
		background-color: #FFFFFF;
	}
#TabCrit
	{
		
	}
#TabAbout
	{
		z-index: 2;
		top: 96px;
		width: 256px;
		height: calc(100% - 96px);
		margin-left: 100%;
		background-color: #FFFFFF;
	}
@media(min-width: 600px)
	{
		.TabClassFont
			{
				display: inline;
				font-size: calc(1px + (20 - 1) * ((100vw - 600px) / (1200 - 600)));
			}
		.TabAboutFont
			{
				font-size: calc(10px + (20 - 10) * ((100vw - 600px) / (1200 - 600)));
			}
		#TabLeft
			{
				width: calc(64px + (128 - 64) * ((100vw - 600px) / (1200 - 600)));
			}
		#TabRight
			{
				left: calc(100% - calc(64px + (128 - 64) * ((100vw - 600px) / (1200 - 600))));
				width: calc(64px + (128 - 64) * ((100vw - 600px) / (1200 - 600)));
			}
		#TabClass
			{
				width: calc(96px + (224 - 96) * ((100vw - 600px) / (1200 - 600)));
			}
		#TabAbout
			{
				width: calc(256px + (512 - 256) * ((100vw - 600px) / (1200 - 600)));
			}
	}
@media(min-width: 1200px)
	{
		.TabClassFont
			{
				font-size: 20px;
			}
		.TabAboutFont
			{
				font-size: 20px;
			}
		#TabLeft
			{
				width: 128px;
			}
		#TabRight
			{
				left: calc(100% - 128px);
				width: 128px;
			}
		#TabClass
			{
				width: 224;
			}
		#TabAbout
			{
				width: 512px;
			}
	}