@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body
	{
		font-family:"Ubuntu";
		white-space:nowrap;
		overflow:hidden;
	}
a
	{
		color:inherit;
		text-decoration:none;
	}
.Phantom
	{
		z-index:1;
		position:fixed;
		left:0;
		top:0;
		width:100%;
		height:48px;
		background-color:#00118F;
		transition:0.5s;
		text-align:left;
	}
.PhantomText
	{
		position:relative;
		left:8px;
	}
.PhantomIMG
	{
		margin-top:8px;
		margin-bottom:8px;
	}
.Main
	{
		position:fixed;
		left:0;
		top:48px;
		width:100%;
		height:calc(100% - 48px);
		background-color:#404040;
		overflow:auto;
	}
.MainDiv
	{
		position:relative;
		top:32px;
		width:calc(300px + 300 * ((100% - 400px) / 400));
		height:calc(100% - 64px);
		margin:auto;
		transition:0.5s;
	}
.MainText
	{
		position:relative;
		font-size:16px;
		white-space:normal;
		color:#FFFFFF;
		transition:0.5s;
		overflow-x:hidden;
	}
.MainIMG
	{
		width:64px;
	}
.MainMenu
	{
		z-index:1;
		position:relative;
		float:left;
		width:192px;
		height:100%;
		font-size:12px;
		color:#FFFFFF;
		transition:0.5s;
		display:none;
	}
.MainMenuText
	{
		width:160px;
		height:32px;
		display:block;
		line-height:32px;
		transition:0.25s;
	}
.MainMenuNull
	{
		width:160px;
		height:32px;
		display:block;
	}
@media(min-width:800px)
	{
		.MainDiv
			{
				width:calc(792px + 200 * ((100% - 800px) / 400));
			}
		.MainMenu
			{
				display:inline;
			}
	}
@media(min-width:1200px)
	{
		.MainDiv
			{
				width:992px;
			}
	}